@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('../fonts/roboto-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
       url('../fonts/roboto-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  src: url('../fonts/roboto-thin-webfont.woff') format('woff2'),
       url('../fonts/roboto-thin-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 800;
  src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
       url('../fonts/roboto-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/roboto-italic-webfont.woff2') format('woff2'),
       url('../fonts/roboto-italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 600;
  src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
       url('../fonts/roboto-medium-webfont.woff') format('woff');
}


:root {
  --ff-size-s: 0.85rem;
  --ff-size-m: 1.2rem;
  --ff-size-l: 1.35rem;
  --ff-size-xl: 1.8rem;

  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 600;
  --fw-bold: 800;

  --clr-body: rgba(17, 17, 17, 0.793);
  --clr-file-hover: rgb(97, 95, 95);

  --clr-white: rgb(242, 242, 242);
  --clr-black: rgb(34, 34, 34);
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 2rem;
  background-color: var(--clr-body);
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input,
textarea,
select {
  min-width: 0;
  width: 100%;
}

p {
  font-size: 4rem;
  font-weight: var(--fw-medium);
}

label {
  font-size: var(--ff-size-m);
  font-weight: var(--fw-normal);
  font-family: var(--ff);
}

h1 {
  font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  font-weight: var(--fw-bold);
  text-wrap: balance;
  text-align: center;
  line-height: 1.3;
}

h2{
  font-size: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  font-weight: var(--fw-medium);
  text-wrap: balance;
  text-align: center;
  opacity: .75;
}

.main {
  display: grid;
  place-items: center;
  gap: 1rem;
}

.main h2 {
  margin-bottom: -2rem;
}

.params {
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}

.inputName {
  border: 1px solid grey;
  border-radius: 0.3rem;
  width: clamp(50ch, 65ch, 80dvh);
  height: 4ch;
  padding: 0.3rem;
}

.main {
  margin-bottom: 4rem;
}

.tarjeta {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); */
  grid-template-columns: .5fr .9fr;
  place-items: center;
  gap: 3rem;
}

.inputLabel{
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
}

/* CARDFORM CSS */
.update_image {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.edit_params {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  /* outline: white solid 2px;
  outline-style: dashed; */
  border: 2px dashed white;
  padding: 1.5rem;
  border-radius: 5px;
  width: 75%;
}

.hover_upload_file {
  background-color: var(--clr-file-hover);
  place-items: center;
  justify-content: center;
  height: 60ch;
  animation: pulse 1s infinite forwards;
  border: 2px solid white;
}

input[type="text"],
input[type="number"],
select {
  padding: 0.25rem;
}

.button_send {
  margin-top: 1.5rem;
  padding: 0.75rem;
  background-color: rgb(14, 103, 154);
  border: 0;
  border-radius: 0.5rem;
  font-size: var(--ff-size-m);
  font-weight: var(--fw-normal);
}

.button_send:hover {
  background-color: rgb(30, 155, 228);
  opacity: 0.9;
}

.img_selector {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.button_counter {
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.5rem;
}

.button_counter:hover {
  background-color: #807f7f;
}

.button_counter:active {
  transform: scale(0.8);
}

.categorias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0.3rem;
  gap: 0.5rem;
  justify-content: space-between;
}

.categorias > div {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  align-items: center;
}

input[type="file"] {
  color: transparent;
  /* width: auto; */
  font-size: var(--ff-size-s);
}

.image_text {
  font-size: calc(var(--ff-size-m) * 0.9);
}

.subtext {
  font-size: var(--ff-size-m);
  opacity: 0.9;
}

.update {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.2rem;
  margin-right: auto;
}

.upload_text {
  font-size: var(--ff-size-xl);
  color: var(--clr-card);
}

.form_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
}

.form_row > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form_row > div:first-child {
  flex: 1;
}

#rating,
#pricing {
  max-width: 14ch;
}

#telephone {
  max-width: 16ch;
}

.btnAdd{
  padding: .8rem;
  background-color: var(--clr-white);
  color: var(--clr-black);
  border-radius: .25rem;
}

.btnAdd:hover{
  background-color: var(--clr-light-grey);
}

.coord{
  width: 14ch;
}

.gmaps{
  max-width: 100%;
}

@keyframes pulse {
  0%,
  100% {
    background-color: var(--clr-file-hover);
  }
  50% {
    background-color: var(--clr-dark-grey);
  }
}

/* END CARDFORM CSS */

@media (prefers-color-scheme: light) {
  :root {
    --clr-text: rgb(215, 215, 215);
    --clr-dark-grey: rgb(80, 78, 78);
    --clr-light-grey: rgb(162, 162, 162);
    --clr-shadow: rgba(0, 40, 80, 0.2);
    --clr-body: rgb(228, 228, 228);
  }

  p {
    color: var(--clr-text);
  }

  .edit_params {
    background-color: var(--clr-card);
    outline-color: var(--clr-text);
    outline-offset: -10px;
  }

  .button_send {
    color: var(--clr-text);
  }

  .button_counter {
    background-color: var(--clr-light-grey);
    border-color: var(--clr-card);
  }
}

@media (max-width: 650px) {
  .params {
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
    gap: 0.2rem;
    width: 100%;
    margin-top: 2rem;
  }

  .inputName {
    width: 100%;
  }

  .edit_params {
    width: 80vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .edit_params > div:not(.categorias) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80vw;
  }

  .update_image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
  }

  .tarjeta {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  /* .button_send{
    max-width: 80%;
    align-self: center;
  } */

  .form_row {
    flex-direction: column !important;
  }

  .form_row > div {
    flex: 1;
  }

  #rating,
  #pricing,
  #telephone,
  #lat {
    max-width: 100%;
  }

  .app {
    width: 100%;
  }

  .btnAdd{
    margin-top: .95rem;
    margin-left: auto;
    margin-right: auto;
  }

  .coord{
    width: 100%;
  }
}
